body {
  background: #555555;
  color: #ffffff;
  margin: auto;
}
.App {
  width: 1300px;
  margin: auto;
  text-align: center;
}
.varitem {
  /* border: solid 1px #6bc431; */
  background: #6d496b;
  width: 100%;
  float: left;
  
  /* margin: 0 auto; */
}

.ImageDiv {
  width: 480px;
  height: 360px;
}
.ImageDiv img {
  width: 100%;
  height: auto;
}

.varitem_name {
  background: inherit;
  /* border: dotted 1px; */
  float: left;
  width: 20%;
  margin: 2px;
}
.varitem_plcvalue {
  background: inherit;
  /* border: dotted 1px; */
  float: left;
  width: 20%;
  margin: 2px;
}

.varitem_uservalue {
  background: inherit;
  /* border: dotted 1px; */
  float: left;
  width: 50%;
  margin: 2px;
}

.varitem_uservalue input {
  width: 30%;
  margin-right: 10px;
	/* color: #ff0000; */
}
.varitem_uservalue [name=reset] {
  width: 20px;
  margin: 0;
}

.different:valid {
  background-color: #628831;
}

.varvalue:invalid {
  background-color: #b97b7b;
}
